body {
  margin: 16px 8px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-app {
  border: 4px gray solid;
  border-radius: 8px;
  background-color: darkslategray;
  padding: 16px;
}

.todo-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .todo-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input.list-title {
  background-color: transparent;
  padding: 8px;
  border: 0;
  outline: none;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  color: lightgray;
}

input:hover.list-title {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 13%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.todo-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 16px 32px;
}

.todo {
  cursor: pointer;
  margin: 8px 8px;
  padding: 16px;
  border: 4px lightblue solid;
  border-radius: 8px;
  background-color: lightskyblue;
  color: black;
  font-weight: bold;
}

.strike {
  text-decoration: line-through;
  border: 4px lightskyblue solid;
  background-color: lightslategray;
  color: lightskyblue;
}

.button {
  cursor: pointer;
  background-color: #e7e7e7;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-weight: bold;
}

.clear {
  padding: 8px 16px;
  font-size: 16px;
}

.submit {
  padding: 4px 8px;
  font-size: 12px;
  margin-left: 4px;
}

input.submit-text {
  background-color: floralwhite;
  padding: 4px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  max-width: 120px;
}

.toggle-area {
  cursor: pointer;
  text-align: center;
}

.share-text {
  resize: none;
  background-color: floralwhite;
  padding: 4px 8px;
  height: 27px;
  margin-bottom: -13px;
  border: none;
  border-radius: 4px;
}

.share-tooltip {
  position: relative;
  display: inline-block;
}

.share-tooltip .share-tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-weight: normal;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 85%;
  left: 68%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.share-tooltip .share-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.share-tooltip:hover .share-tooltiptext {
  visibility: visible;
  opacity: 1;
}
